<html>
<body bgcolor="orange">
<center><h1>inforamtion about the link you have clicked </h1></center>
<center><h2>The id is :<%= JSON.stringify(temp.id) %> </h2></center>
<center><h2>The name of The clicked repository is : <%= JSON.stringify(temp.name) %> </h2></center>
<center><h2>The link for the repository is : <a href=" <%= temp.html_url %>"> Link </a> </h2></center>
<center><h2>The Description is : <%= JSON.stringify(temp.description) %> </h2></center>
<center><h2>The github url is : <%= JSON.stringify(temp.git_url) %> </h2></center>

</body>
</html>
